{% extends 'index.html' %}
{% block title %}
cell6
{% endblock %}
{% block body %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static',filename='assets/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename='assets/img/apple-touch-icon.png')}}"rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/simple-datatables/style.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


  </header><!-- End Header -->
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Current state</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="main.html">status</a></li>
          <li class="breadcrumb-item active">Cell6</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
   <section class="section dashboard">
      <div class="row">


        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">cell6 </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class=""></i>
                    </div>
                    <div class="ps-3">
                      <h1>Упаковка</h1>



                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->
              <div class="card">
            <div class="card-body">
              <h5 class="card-title">Время ожидания</h5>

              <!-- Table with hoverable rows -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Weit status</th>
                    <th scope="col">Обработано(за день)</th>
                    <th scope="col">Обработано(за час)</th>
                    <th scope="col"> Средняя загрузка(за день)</th>
                    <th scope="col"> Средняя загрузка(за час)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{currentcount}}</th>
                    <td> {{weitstatus}}</td>
                    <td>{{obraot6}}</td>
                    <td>{{obrabotkah6}}</td>
                    <td>{{load_d}}%</td>
                     <td>{{load_h}}%</td>
                  </tr>

                </tbody>
              </table>
              <!-- End Table with hoverable rows -->
{% endblock %}